


.container{
    border: 2px dashed darkslategrey;
}

.container-fluid{
    border: 2px dashed darkgreen;
}

header{
    min-height: 80px;
    
}

section{
    min-height: 500px;
}

[class^="col"] {
    border: 2px dashed red;
    min-height: 50px;
}