

.header{
    height: 80px;
}
.row{
    border: 2px dashed red;
    
}

.col{
    border:1px solid green;

}

.start{
    height: 300px;
}

.portfolio{
    height: 300px;
}

.col-img{
    justify-content: ;
}

.titol{
    height: 80px;
}

.about{
    height: 350px;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

/* @media screen {min-width:576px ;
    
    .col-md{
        width: calc(100% / 6);
    }
} */