


/* .container{
    border: 2px dashed darkslategrey;
}

.container-fluid{
    border: 2px dashed darkgreen;
}

header{
    min-height: 80px;
    
}

section{
    min-height: 500px;
}

[class^="col"] {
    border: 2px dashed red;
    min-height: 50px;
} */
**********************************

#avatar{
    height: 50px;
    width: 200px;
}

.avatar{
    background-color:rgb(22, 241, 95);
text-align: center;

}

.avart-col{
    margin-bottom: 50px;
}



img {
    max-width: 100%;
}

#portfolio{
    text-align: center;
}

#portfolio h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

#about{
    background-color:rgb(22, 241, 95) ;
}

#about h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

